<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pbt.raadrivers">

    <application
        android:name=".Other.AppController"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.PDFViewActivity"></activity>
        <activity android:name=".test.BottomSheetActivity" />
        <activity android:name=".Dialog.EnterMailDialog" />
        <activity android:name=".Dialog.CustomDialogClass" />
        <activity
            android:name=".Activity.RaaQRCodeActivity"
            android:label="@string/myqr_code" />
        <activity android:name=".Activity.AssignDriverActivity" />
        <activity android:name=".Activity.TimeLogActivity" />
        <activity android:name=".Activity.SwitchCarActivity" />
        <activity
            android:name=".Activity.PhoneNumberVerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activity.MissedTripActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TrainingVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.TripGoneToDrivarActivity" /> <!-- <receiver android:name=".Receiver.CallReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PHONE_STATE" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name=".Receiver.SmsReceiver"> -->
        <!-- <intent-filter android:priority="99999"> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".Activity.NotificationDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignatureCompanyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ThanksScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TrainingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MonthlyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DailyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FinalBillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DriverProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FinishRideActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.StartRideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AcceptRideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DrivarHomePageActivity"
            android:label="@string/title_activity_drivar__home__page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SelectLanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Other.AlarmReceiverActivity"
            android:label="@string/paymentpage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="raadarbar.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider12345"
            android:exported="true" />

        <receiver
            android:name=".Other.StartMyActivityAtBootReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- For New Services -->
        <receiver
            android:name=".Notification.MyFirebaseMessagingService$ActionReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="WhatEverYouWant" />
            </intent-filter>
        </receiver>

        <service android:name=".Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.LocationUpdatesService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />
        <service
            android:name=".Service.NormalService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name=".Service.NormalService" />
            </intent-filter>
        </service>
    </application>

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION/" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission
        android:name="android.permission.LOCATION_HARDWARE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW " />
    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" />

    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT" />

</manifest>